body {
    margin: 0;
    padding: 0;
    background-color: #dadada;
    padding-bottom:3%; /* Gives footer room at bottom of page */
}

/* Styling for Nav bar */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
}

nav ul li {
    padding-top:2.4%;
    margin: 0 30px;
    font-size: larger;
}
nav ul img{
    padding-top:2px;
    padding-left:2px;
}

nav ul li a {
    text-decoration: none;
    color: #51279B;
    font-size:larger;
}

nav ul li a:hover{
    color: #8662C7;
}

#logo{

    max-width: 6%;
    max-height: 6%;

}

/*Styling for introduction content such as the background + learn more button */
.introduction{
    background-image: url("AidanThadAnd.github.io//assets/images/florence.jpg");
    background-size: cover;
    padding-bottom:7%;
}

.introduction main li {
    list-style: none;
    padding-top: 8%;
    padding-left: 8%;
    color:white;
}

.introduction main li h1{
    font-size: 48px;
    font-weight: bold;
}

.introduction main li p{
    font-size: 24px;
    
}

.introduction main li button{
    background-color: #51279B;
    color: white;
    border: none;
    padding: 20px 20px;
    border-radius: 5px;
    cursor: pointer;
    
}

.introduction main li button:hover{
    color: #8662C7;
}


/* Styling for web cards*/

.places-to-visit {
    padding: 20px; 
    max-width: 1000px; /* Container was expanding to width of the browswer so a limit is set */
    margin: 0 auto; 
}

.places-to-visit ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; 
    padding: 0;
    margin: 0; 
}

.places-to-visit ul li {
    background-color: white; 
    padding: 10px;
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); 
}

.places-to-visit ul li h2 {
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 0;
    margin-top: 2px;
    margin-bottom: 0px;
    padding-left: 5px;
}

.places-to-visit ul li p {
    margin: 0;
}

.places-to-visit #description {
    font-size: 16px;
    padding-left: 5px;
    margin-top: 4px;
    margin-bottom: 2px;
}



.likes, .comments{
    display:inline;
    font-size: 12px;
    padding-left:10px;
}

.likes{
    padding-right: 5px;
}

.likes img, .comments img{
    max-width:15px;
    max-height:15px;
    padding:0 1% 1% 1%;
    transform:translateY(6px);
}


/* Styling for web cards buttons*/
.places-to-visit button{
    background-color: #51279B;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
}

.places-to-visit button h2{
    margin-right:6px;
}

.places-to-visit button:hover{
    color: #8662C7;
}

/* Styling for individual webcards */
.individual-travel-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px; 
}


/* Adds border box and box shadow to each element, all included here so that it's easier to modify */
#travel-page-main-photo,
#travel-page-text-content,
#related-images
{
    background-color: white;
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
}

#travel-page-main-photo {
    max-width: 50%;
    height: auto;
    padding: 20px;
}

/* Alot of fine tuning to have likes and comments set the correct height for the background of the text content */
#travel-page-text-content {
    text-align: center;
    list-style: none;
    padding: 10px;
    font-size: 16px;
    max-height: 260px;
}

.location {
    display: flex;
    justify-content: center;
    margin-top: 10px; 
    font-size:14px;
}

.likes-comments {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 5px; 
    padding: 0; 
}

/* ChatGPT suggested this to correct and margin/padding that likes-comments might have recieved from inheritance */
.likes-comments > * {
    margin: 0 5px; 
    padding: 0; 
}



#related-images {
    list-style:none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1,auto);
    justify-content: center;
    justify-items: center;
    padding: 10px;
    gap: 10px;

}

.individual-travel-page ul{
    list-style:none;
}



#travel-page-text-content p {
    display:inline;
    font-size:24px;
}







/* Styling for footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1% 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 1em;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover{
    color:grey;
}

